.card {
    align-items: center;
   }
.index__carrusel {
    margin: 30px;
}
.index__productos {
    display: flex;
    justify-content: space-around;
    margin: 15px;
}
#index__titulo {
    display: flex;
    color: white;
    justify-content: center;
    margin: 20px;
}