.card {
    align-items: center;
   }
.card-body{
    & p {
        margin: 0px;
    }
}
.index__carrusel {
    margin: 30px;
}
.index__productos {
    display: flex;
    justify-content: space-around;
    margin: 15px;
}
#index__titulo {
    display: flex;
    color: white;
    justify-content: center;
    margin: 20px;
}
#index__buttons__socios {
    display: flex;
    margin: 50px;
    justify-content: space-evenly;
}